.main-page {
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 15;
  padding-right:5;
  padding-left:5;
  margin-top:10;
}

.apply-button-row{
  margin-top:20;
  padding-right:7;
  padding-left:7;
}

.btn-image{
  background-color: #555;
  color: #efefef;
  width:120;
  border-radius: 5px;
  text-transform: uppercase;
}

