@import url("~/platform.css");

Page {
  background-color: white;
  font-size: 15;
}
TextField {
  padding: 10;
  font-size: 13;
}
.small-spacing {
  margin: 5;
}
.medium-spacing {
  margin: 10;
}
ActionBar {
  background-color: black;
  color: white;
}







.p-none { padding: 0 !important; }
.p-t-none { padding-top: 0 !important; }
.p-r-none { padding-right: 0 !important; }
.p-b-none { padding-bottom: 0 !important; }
.p-l-none { padding-left: 0 !important; }
  
.p-xsm { padding: 5; }
.p-t-xsm { padding-top: 5; }
.p-r-xsm { padding-right: 5; }
.p-b-xsm { padding-bottom: 5; }
.p-l-xsm { padding-left: 5; }
        
.p-sm { padding: 10; }
.p-t-sm { padding-top: 10; }
.p-r-sm { padding-right: 10; }
.p-b-sm { padding-bottom: 10; }
.p-l-sm { padding-left: 10; }     
  
.p-smd { padding: 12; }
.p-t-smd { padding-top: 12; }
.p-r-smd { padding-right: 12; }
.p-b-smd { padding-bottom: 12; }
.p-l-smd { padding-left: 12; }   
  
.p-md { padding: 15; }
.p-t-md { padding-top: 15; }
.p-r-md { padding-right: 15; }
.p-b-md { padding-bottom: 15; }
.p-l-md { padding-left: 15; }
        
.p-lg { padding: 25; }
.p-t-lg { padding-top: 25; }
.p-r-lg { padding-right: 25; }
.p-b-lg { padding-bottom: 25; }
.p-l-lg { padding-left: 25; }

.m-none { margin: 0 !important; }
.m-t-none { margin-top: 0 !important; }
.m-r-none { margin-right: 0 !important; }
.m-b-none { margin-bottom: 0 !important; }
.m-l-none { margin-left: 0 !important; }
  
.m-xsm { margin: 5; }
.m-t-xsm { margin-top: 5; }
.m-r-xsm { margin-right: 5; }
.m-b-xsm { margin-bottom: 5; }
.m-l-xsm { margin-left: 5; }

.m-sm { margin: 10; }
.m-t-sm { margin-top: 10; }
.m-r-sm { margin-right: 10; }
.m-b-sm { margin-bottom: 10; }
.m-l-sm { margin-left: 10; }

.m-smd { margin: 12; }
.m-t-smd { margin-top: 12; }
.m-r-smd { margin-right: 12; }
.m-b-smd { margin-bottom: 12; }
.m-l-smd { margin-left: 12; }

.m-md { margin: 15; }
.m-t-md { margin-top: 15; }
.m-r-md { margin-right: 15; }
.m-b-md { margin-bottom: 15; }
.m-l-md { margin-left: 15; }

.m-lg { margin: 25; }
.m-t-lg { margin-top: 25; }
.m-r-lg { margin-right: 25; }
.m-b-lg { margin-bottom: 25; }
.m-l-lg { margin-left: 25; }

.m-xl { margin: 35; }
.m-t-xl { margin-top: 35; }
.m-r-xl { margin-right: 35; }
.m-b-xl { margin-bottom: 35; }
.m-l-xl { margin-left: 35; }
  
.txt-xsm { font-size: 7; }
.txt-sm { font-size: 9; }
.txt-smd { font-size: 11; }
.txt-md { font-size: 13; }
.txt-lg { font-size: 17; }
.txt-xl { font-size: 25; }
.txt-xxl { font-size: 35; }



